<ActionBar title="Service Test" class="action-bar">
</ActionBar>
<StackLayout>
  <Button text="getIngredients" (tap)="getIngredients()" class="btn btn-primary"></Button>
  <Button text="getCocktails: Gin" (tap)="getCocktails('Gin')" class="btn btn-primary"></Button>
  <Button text="getCocktails: wrong ingredient" (tap)="getCocktails('ABC')" class="btn btn-primary"></Button>
  <Button text="getCocktail: 17834" (tap)="getCocktail(17834)" class="btn btn-primary"></Button>
  <Button text="findIngredients: Ru" (tap)="findIngredients('Ru')" class="btn btn-primary"></Button>
  <ScrollView>
    <Label [text]="response" textWrap="true"></Label>
  </ScrollView>

</StackLayout>