/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*@import 'nativescript-theme-core/css/core.light.css';*/

Page {
    background-color: #353BA7;
}

Actionbar {
    background-color: #303772;
    color: white;
}

Button {
    color: white;
    margin: 10;
    padding: 10;
    border-radius: 3;
}

Label {
    color: white;
}

Textfield {
    background-color: white;
    padding: 3 10 3 10;
    border-radius: 3;
}

TabView {
    tab-text-color: #262626;
    tab-background-color: #F9584A;
    selected-tab-text-color: white;
    android-selected-tab-highlight-color: #F9584A;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
  color: pink;
}

.h1 {
    font-weight: bold;
    font-size: 20;
    color: white;
    text-align: center;
    margin: 10;
}

.button {
   background-color: #3EA0C0;
}

.tab {
    background-color: #3EA0C0;
}

.submit {
    background-color: #DD2AF3;
}

.animalCard {
    background-color: #303772;
    width: 70%;
    color: white;
    padding: 10;
    margin: 10;
    border-radius: 3;
}