<StackLayout>
  <Button text="Get Competitions" (tap)="getCompetitions()"></Button>
  <Button text="Get PL Competition" (tap)="getPLCompetition()"></Button>
  <Button text="Get PL Table" (tap)="getPLTable()"></Button>
  <Button text="Get PL Teams" (tap)="getPLTeams()"></Button>
  <Button text="Get PL Fixtures" (tap)="getPLFixtures()"></Button>
  <Button text="Get Liverpool Players" (tap)="getLiverpoolPlayers()"></Button>
  <Button text="Get Liverpool Fixtures" (tap)="getLiverpoolFixtures()"></Button>
  <Button text="Get Champions League Group Tables" (tap)="getChampionsLeagueTables()"></Button>
</StackLayout>