.blue {
  background-color: blue;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.pink {
  background-color: #ff0088;
  color: white;
}

.gray {
  background-color: gray;
  color: white;
}

.bad {
  background-color: #bad;
  color: white;
}

/* styles with outline

.blue {
  border-color: blue;
  color: blue;
  border-width:1;
}

.red {
  border-color: red;
  color: red;
  border-width:1;
}

.pink {
  border-color: #ff0088;
  color: #ff0088;
  border-width:1;
}

.gray {
  border-color: gray;
  color: gray;
  border-width:1;
}

.bad {
  border-color: #bad;
  color: #bad;
  border-width:1;
}*/