<ActionBar title="RGB"  color="white" [backgroundColor]="rgb">
</ActionBar>

<StackLayout>
  <Button text="Go Blue" (tap)="goBlue()" class="btn blue"></Button>
  <Button text="Go Red" (tap)="goRed()" class="btn red"></Button>
  <Button text="Change To Random" (tap)="changeToRandom()" class="btn btn-primary" [backgroundColor]="rgb"></Button>
  <Button text="Go Home" (tap)="goHome()" class="btn btn-primary"></Button>
  <Button text="Go Back" (tap)="goBack()" class="btn btn-outline"></Button>
</StackLayout>