
<!-- End of exercise 1 -->
<!--<ActionBar title="Profile" class="action-bar">
</ActionBar>

<StackLayout>
  <Label text="Name:"></Label>
  <TextField
    [text]="profile.name"
    hint="name">
  </TextField>

  <Label text="Password:"></Label>
  <TextField
    [text]="profile.password"
    hint="password"
    secure="true">
  </TextField>

  <Label text="Angular Pro:"></Label>
  <Switch
    [checked]="profile.angularPro"
    class="switch">
  </Switch>

  <Label text="Date of Birth:"></Label>
  <DatePicker 
    [day]="profile.dob.getDate()"
    [month]="profile.dob.getMonth()+1"
    [year]="profile.dob.getYear() + 1900">
  </DatePicker>
  
  <Label text="Coding power:"></Label>
  <Slider
    [value]="profile.codingPower"
    [minValue]="0"
    [maxValue]="10"
    class="slider">
  </Slider>

  <Button text="Save" (tap)="save()"></Button>
  <Button text="Clear" (tap)="clear()"></Button>
</StackLayout>-->



<!-- End of exercise 2 -->
<!--<ActionBar title="Profile" class="action-bar">
</ActionBar>

<StackLayout>
  <Label text="Name:"></Label>
  <TextField
    [(ngModel)]="profile.name"
    hint="name">
  </TextField>

  <Label text="Password:"></Label>
  <TextField
    [text]="profile.password"
    hint="password"
    secure="true">
  </TextField>

  <Label [text]="'Angular Pro: ' + ((profile.angularPro) ? 'Yes': 'No')"></Label>
  <Switch
    [(ngModel)]="profile.angularPro"
    class="switch">
  </Switch>

  <Label [text]="'Date of Birth: ' + profile.dob.toLocaleDateString()"></Label>
  <DatePicker
    [(ngModel)]="profile.dob">
  </DatePicker>
  
  <Label [text]="'Coding power:' + profile.codingPower"></Label>
  <Slider
    [(ngModel)]="profile.codingPower"
    [minValue]="0"
    [maxValue]="10">
  </Slider>
  
  <Button text="Save" (tap)="save()"></Button>
  <Button text="Clear" (tap)="clear()"></Button>
</StackLayout>-->


<!-- FINAL VERSION -->
<ActionBar title="Profile" class="action-bar">
</ActionBar>
  
<StackLayout class="form m-l-5">
  <Label text="Name:" class="text-primary"></Label>
  <TextField
    [(ngModel)]="profile.name"
    hint="name">
  </TextField>

  <Label text="Password:" class="text-primary"></Label>
  <TextField
    [text]="profile.password"
    hint="password"
    secure="true">
  </TextField>

  <Label [text]="'Angular Pro: ' + ((profile.angularPro) ? 'Yes': 'No')" class="text-primary"></Label>
  <Switch
    [(ngModel)]="profile.angularPro"
    class="switch"
    horizontalAlignment="left">
  </Switch>

  <Label [text]="'Date of Birth: ' + profile.dob.toLocaleDateString()" class="text-primary"></Label>
  <DatePicker
    [(ngModel)]="profile.dob">
  </DatePicker>
  
  <Label [text]="'Coding power:' + profile.codingPower" class="text-primary" [class.zoom]="profile.codingPower > 7"></Label>
  <Slider
    [(ngModel)]="profile.codingPower"
    [minValue]="0"
    [maxValue]="10"
    class="slider"
    [class.danger-slider]="profile.codingPower > 7">
  </Slider>

  <Button text="Save" (tap)="save()" class="btn btn-primary"></Button>
  <Button text="Clear" (tap)="clear()" class="btn btn-outline"></Button>
</StackLayout>