<StackLayout>
  <Button text="Get Competitions" (tap)="getCompetitions()" class="btn btn-primary"></Button>
  <Button text="Get PL Competition" (tap)="getPLCompetition()" class="btn btn-primary"></Button>
  <Button text="Get PL Table" (tap)="getPLTable()" class="btn btn-primary"></Button>
  <Button text="Get PL Teams" (tap)="getPLTeams()" class="btn btn-primary"></Button>
  <Button text="Get PL Fixtures" (tap)="getPLFixtures()" class="btn btn-primary"></Button>
  <Button text="Get Liverpool" (tap)="getLiverpool()" class="btn btn-primary"></Button>
  <Button text="Get Liverpool Players" (tap)="getLiverpoolPlayers()" class="btn btn-primary"></Button>
  <Button text="Get Liverpool Fixtures" (tap)="getLiverpoolFixtures()" class="btn btn-primary"></Button>
  <Button text="Get Champions League Group Tables" (tap)="getChampionsLeagueTables()" class="btn btn-primary"></Button>
</StackLayout>