<ActionBar title="FurFriendster">
    <ActionItem (tap)="myFavorites()" ios.position="right">
        <Button [text]="'fa-heart' | fonticon" class="fa"></Button>
    </ActionItem>
</ActionBar>

<StackLayout>
  <Label class="h1" text="Find Your Forever Friend"></Label>
  
  <!--<GridLayout rows="auto" columns="*,*">
    <Button row="0" col="0" class="button" [text]="'I\'m looking for a:'" (tap)="selectAnimal()"></Button>
    <Image row="0" col="1" class="animalImage" horizontalAlignment="center" [src]="'~/assets/'+animal+'.png'" stretch="none"></Image>
  </GridLayout>-->
  
  <Button class="button" [text]="'I\'m looking for a: '+animal" (tap)="selectAnimal()"></Button>
  <Button class="button" *ngIf="animalSelected()" [text]="'Breed:' + breed" (tap)="selectBreed()"></Button>
  <Button class="button" [text]="'About this old: ' + age" (tap)="selectAge()"></Button>
  <Button class="button" [text]="'Male or female? ' + sex" (tap)="selectSex()"></Button>
  <Button class="button" [text]="'About this large: ' + size" (tap)="selectSize()"></Button>

  <DockLayout orientation="horizontal" horizontalAlignment="center">
    <Label dock="left" text="In the general vicinity of " class="text-primary"></Label>
    <TextField hint="location" [(ngModel)]="location"></TextField>
  </DockLayout>
  
  <Button class="submit" text="Find!" (tap)="findPets()"></Button>

  <Image src="~/assets/pets.png" style="opacity:.75"></Image>
</StackLayout>
