<ActionBar title="Color" icon="" class="action-bar">
</ActionBar>

<StackLayout>
  <Button
    text="Open Blue"
    [nsRouterLink]="[]"
    class="btn blue">
  </Button>

  <Button
    text="Open Red"
    [nsRouterLink]="[]"
    class="btn red">
  </Button>

  <Button
    text="Open RGB (pink)"
    [nsRouterLink]="[]"
    class="btn pink">
  </Button>

  <Button
    text="Open RGB (gray)"
    [nsRouterLink]="[]"
    class="btn gray">
  </Button>

  <Button
    text="Open RGB (#bad)"
    [nsRouterLink]="[]"
    class="btn bad">
  </Button>

</StackLayout>
